<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_D33B052930BB._tcp</string>
		<string>_nearby._tcp</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>NSMotionUsageDescription</key>
	<string>Walk-throughキャリブレーションのために、iPadの動きを検出します。</string>
</dict>
</plist>
