<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_D33B052930BB._tcp</string>
		<string>_nearby._tcp</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
</dict>
</plist>
